.nav-link{
  color: rgb(231, 210, 16) !important;
 
}
.menu_active{
  font-weight: bold;
  border-bottom: 0.7px solid white;
}
.navbar-nav{
margin-left: auto;
}
.nav-link:hover {
  color:white !important;
}
.logo{
color:rgb(248, 216, 37);
padding-left:14px;
font-size: 30px;
}




